.skills-container{
    height: auto;
}

.skills-content{
   /* Making event cards container a flex container */
  display: flex;
  /* Allowing horizontal scrolling */
  overflow-x: scroll;
  /* Preventing line breaks in text */
  
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 2rem;
    padding: 1rem ; */
}

.p{
    font-size: 1rem;
    padding-top: 1rem;
    text-align: center;
    color: #FF512F;
    text-decoration: none;
}

.skills-card{
    display: flex;
    flex-direction: column;
        align-items: center;
        justify-content: center;
    /* From https://css.glass */
    width: 10rem;
   height: 13rem;
   margin: 1rem;
   border-radius: 7px;

border: 1px solid rgba(63, 63, 63, 0.97);
}

.skills-card img{
    
    width: 10rem;
    height: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}


.skills-card:hover{
    /* From https://css.glass */
    opacity: 1.5;
cursor: pointer;
    background: #fff;
    box-shadow: 1px 1px 15px 1px #fff;
transition: .5s;
transform: translateY(-10px);
}   

h5{
    font-size: 2rem;   
}

@media (max-width: 768px) {


    h5{
        font-size: 1.5rem;
        text-align: center;
    }

    .skills-card{
        width: 15rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skills-content{

        display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 2rem;
    padding: 1rem ;
    overflow: hidden;
    }

}


@media (max-width:600px){

 

    h5{
        font-size: 1rem;
        text-align: center;   
    }

    .skills-card{
        width: 13rem;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skills-content{
        flex-direction: column;
    }
    .skills-content::before,
.skills-content::after{
    width: 5rem;
    height: 5rem;
    bottom: 300px;
}
}





@media (max-width:468px){

  


    h5{
        font-size: 1rem;
        text-align: center;   
    }

    .skills-card{
        width: 10rem;
        height: 13rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skills-content{
        flex-direction: column;
    }
    .skills-content::before,
.skills-content::after{
    width: 5rem;
    height: 5rem;
    bottom: 300px;
}
}

@media (max-width:320px) {
    .skills-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills-card{
        width: 10rem;
        height: 13rem;
    }
}
