.skills-container {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;

  margin: 0 auto;
}

.skills-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill {
  flex: 1 1 30%;
  max-width: 30%;
  text-align: center;
  background: #ffffff;
  padding: 20px;
  border-left: 10px #dc3545;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill:hover {
  border-top-left-radius: 5px ;
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.skill-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.progress-bar {
  background: #ccc;
  border-radius: 10px;
  overflow: hidden;
  height: 10px;
  margin-top: 10px;
}

.progress {
  background: #dc3545;
  height: 100%;
  width: 0; /* Initially set width to 0 */
  transition: width 0.5s;
}
