.contact-container{
   
    margin-top: 2rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}


.contact-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 10rem;
    margin-bottom: 1rem;
}

.i{
    margin-right: 2rem;
    font-size: 3rem;
    color: #ccc;
}

.i:hover{
    color: #fff;
    transform: translateY(-10px);
    transition: all .6s ease;
}