.project-container {
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
}

.project-head {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #F4CE14;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  background: linear-gradient(55deg, #071952, #000000);
  padding: 20px;
  border-left: 8px solid #F4CE14;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.project-card:hover {
  transform: translateY(-5px);
 cursor: pointer;
 
 
}

.card-content {
  text-align: left;
  
}

.project-title {
  font-size: 1.5rem;
  color: #379777;
  text-decoration: 1px solid underline #219C90;
  margin-bottom: 10px;
}

.project-description {
  color: #FFE9D0;
  line-height: 1.5;
}

.project-link {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  margin-top: 10px;
}

.project-link:hover {
  text-decoration: underline;
}
